html,body {
	height: 100%;
}

body.my-login-page {
    
	background-color: #000000;
    background-image:linear-gradient(84.16deg, rgba(244, 41, 41, .2) -7.25%, rgba(255, 215, 111, .042) 35.45%, rgba(56, 212, 233, .2) 97%);
	font-size: 14px;
}

.my-login-page .brand {
	width: 90px;
	height: 90px;
	overflow: hidden;
	border-radius: 50%;
	margin: 40px auto;
	box-shadow: 0 4px 8px rgba(0,0,0,.05);
	position: relative;
	z-index: 1;
}

.card{
    background-color: #000000;
}

@font-face {
    font-family: BwGradual;
    font-style: normal;
    src:url(/fonts/Bw-Gradual/woff2/BwGradual-Regular.woff2)
}

@font-face {
    font-family: BwGradual;
    font-style: italic;
    src:url(/fonts/Bw-Gradual/woff2/BwGradual-RegularItalic.woff2)
}

@font-face {
    font-family: BwGradual;
    font-style: normal;
    font-weight: 500;
    src:url(/fonts/Bw-Gradual/woff2/BwGradual-Medium.woff2)
}

@font-face {
    font-family: BwGradual;
    font-style: italic;
    font-weight: 500;
    src:url(/fonts/Bw-Gradual/woff2/BwGradual-MediumItalic.woff2)
}

@font-face {
    font-family: BwGradual;
    font-style: normal;
    font-weight: 600;
    src:url(/fonts/Bw-Gradual/woff2/BwGradual-Semibold.woff2)
}

@font-face {
    font-family: BwGradual;
    font-style: italic;
    font-weight: 600;
    src:url(/fonts/Bw-Gradual/woff2/BwGradual-SemiboldItalic.woff2)
}

@font-face {
    font-family: BwGradual;
    font-style: normal;
    font-weight: 700;
    src:url(/fonts/Bw-Gradual/woff2/BwGradual-Bold.woff2)
}

@font-face {
    font-family: BwGradual;
    font-style: italic;
    font-weight: 700;
    src:url(/fonts/Bw-Gradual/woff2/BwGradual-BoldItalic.woff2)
}

@font-face {
    font-family: BwGradual;
    font-style: normal;
    font-weight: 800;
    src:url(/fonts/Bw-Gradual/woff2/BwGradual-Extrabold.woff2)
}

@font-face {
    font-family: BwGradual;
    font-style: italic;
    font-weight: 800;
    src:url(/fonts/Bw-Gradual/woff2/BwGradualExtraboldItalic.woff2)
}

@font-face {
    font-family: BwGradual;
    font-style: normal;
    font-weight: 900;
    src:url(/fonts/Bw-Gradual/woff2/BwGradualBlack.woff2)
}

@font-face {
    font-family: BwGradual;
    font-style: italic;
    font-weight: 900;
    src:url(/fonts/Bw-Gradual/woff2/BwGradualBlackItalic.woff2)
}

@font-face {
    font-family: Fira Mono;
    font-style: normal;
    font-style: 400;
    src:url(/fonts/Fira_Mono/FiraMono-Regular.ttf)
}

@font-face {
    font-family: Atkinson;
    font-style: normal;
    font-style: 400;
    src:url(/fonts/Atkinson/AtkinsonHyperlegible-Regular.ttf)
}

@font-face {
    font-family: Atkinson;
    font-style: bold;
    font-style: 700;
    src:url(/fonts/Atkinson/AtkinsonHyperlegible-Bold.ttf)
}

h2{
    color: white;
	font-size: 2.5rem !important;
	line-height: 1 !important;
	font-weight: 700 !important;
	text-align: center;
	font-family: BwGradual, sans-serif !important;
}

label{
    color: white;
}

div{
    color: white;
}

.my-login-page .brand img {
	width: 100%;
}

.my-login-page .card-wrapper {
	width: 400px;
}

.my-login-page .card {
	border-color: transparent;
	box-shadow: 0 4px 8px rgba(0,0,0,.05);
}

.my-login-page .card.fat {
	padding: 10px;
}

.my-login-page .card .card-title {
	margin-bottom: 30px;
}

.my-login-page .form-control {
	border-width: 2.3px;
}

.my-login-page .form-group label {
	width: 100%;
}

.my-login-page .btn.btn-block {
	padding: 12px 10px;
}

.my-login-page .footer {
	margin: 40px 0;
	color: #888;
	text-align: center;
}

@media screen and (max-width: 425px) {
	.my-login-page .card-wrapper {
		width: 90%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 320px) {
	.my-login-page .card.fat {
		padding: 0;
	}

	.my-login-page .card.fat .card-body {
		padding: 15px;
	}
}