{% extends 'base.html' %}

{% block content %}
    <div class="grid-container-domain">
        <div class="grid-item content-domain">
            <h3> Content Found from Website </h3>
            <h3> Content </h3>
            <div>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, quidem corrupti. Quidem id quis, accusantium eos, obcaecati aperiam itaque quos unde porro harum nisi nobis dolorem. A saepe ullam natus.
            </div>
        </div>

        <div class="grid-item-domain email-domain">
            <h3> Email Found </h3>
            <h3> Email </h3>
        </div>

        <div class="grid-item-domain email-send-domain">
            <h3> What Email do you want to send with?</h3>
            <input placeholder="Input Email"> 
        </div>

        <div class="grid-item-domain email-content-domain">
            <button> Generate Email </button>
        </div>
    </div>
{% endblock %}

