{% extends 'base.html' %}

{% block content %}
    <div class="grid-container-domain">
        <div class="stack grid-item-domain content-domain">
            <h3> Content Found from Website </h3>
            <h3> Content </h3>
            <div>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, quidem corrupti. Quidem id quis, accusantium eos, obcaecati aperiam itaque quos unde porro harum nisi nobis dolorem. A saepe ullam natus.
            </div>
        </div>

        <div class="stack grid-item-domain email-domain">
            <h3>Email Found</h3>
            {{ emailFound }}
        </div>

        <div class="stack grid-item-domain email-send-domain">
            <h3> Email to send with: </h3>
            <h3>{{ user.email }}</h3>
            <form method="POST">
			    {% csrf_token %}

                <!--
                <label>Or use another email: </label>
                {{ form.email }}
                -->

                <button type="submit"> Generate Email </button>

            </form>
            
        </div>
    </div>
{% endblock %}

