{% extends 'base.html' %}

{% block content %}
    <div class="whole-campaign">
        <div class="camapign-card">
            <h3 class="campaign-header"> Content Found from Website </h3>
            <div class = "stack" style="height: 75vh;">
                <div class="info">
                    <h3> Content </h3>
                    <p> 
                       {{ website_content }}
                    </p>
                </div>
            </div>
        </div>
        <div class="campaign-actions">
            <div class="domains" style="text-align: center;">
                <h3>Email Found</h3>
                <div class="business">
                    {{ emailFound }}
                </div>

                <form method="POST">
                    {% csrf_token %}

                    <button class="button-9" id="get-businesses" type="submit"> Generate Email </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

