{% extends 'base.html' %}

{% block content %}
<div class="whole-campaign">
    <div class="camapign-card">
        <h3 class="campaign-header"> Content Found from Website </h3>
        <div class = "stack" style="height: 75vh;">
            <div class="info">
                <h3> Content </h3>
                <p> 
                   {{ website_content }}
                </p>
            </div>
        </div>
    </div>

    <div class="campaign-actions">
        <h3 class="campaign-header"> Email Content </h3>
        <div class="domains" style="text-align: center;">
            <div class="business">
                {{ email_content }}
            </div>
        </div>
        <form action="{% url 'send_email' id %}"method="POST" style="text-align: center;">
            {% csrf_token %}

            <button class="button-9" id="get-businesses" type="submit"> Send Email </button>
        </form>
    </div>
</div>

{% endblock %}