<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    
    <title>Document</title>
</head>
<body>
	<section class="login-card">
		<h2>Login</h2>
		<form method="POST" class="login-form">
			{% csrf_token %}

			<label for="email">Name</label>
			<input name="email" id="email">

			<label for="password">Password</label>
			<input name="password" id="password" type="password">

			<li style="color: red;">{{ error_message }}</li>

			<button class="button-9">
				Login
			</button>
		</form>
		<hr>
			{% load socialaccount %}
			<h2>Google Login</h2>
			<a href="{% provider_login_url 'google' %}?next=/">Login with google</a>

		<hr>

		<h2 style="margin-top: 2em;">Dont have an Account?</h2>

		<a href="{% url 'register' %}">
			<button class="button-9" style="border-radius: 40px;">
				Register
			</button>
		</a>

	</section>
</body>
</html>