<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="whole-campaign">
        <div class="camapign-card">
            <div class="campaign-header">
                <h2>{{ campaign.name }}</h2>
            </div>

            <!--
                <h1>{{ campaign.name }}</h1>
                <p><strong>Use:</strong> WHY {{ campaign.get_use_display }}</p>
                <p><strong>Information About Yourself:</strong> {{ campaign.user_info }}</p>
                <p><strong>Purpose:</strong> {{ campaign.purpose }}</p>
                <p><strong>Target Audience:</strong> {{ campaign.target_audience }}</p>
                <p><strong>Created At:</strong> {{ campaign.created_at }}</p>
            -->

            <div class="stack">
                <div class="info">
                    <h3>Purpose</h3>
                    <p>
                        {{ campaign.get_use_display }}
                    </p>
                </div>
                <div class="info">
                    <h3 class="raleway-test">About Yourself</h3>
                    <p>
                        {{ campaign.user_info }}
                    </p>
                </div>
                <div class="info">
                    <h3 class="raleway-test">Target</h3>
                    <p>
                        {{ campaign.target_audience }}
                    </p>
                </div>
            </div>
        </div>
        <div class="campaign-actions">
            <h1 class="raleway-test"> Find Online Businesses</h1>

            <form method = "POST" class="user-input">
                {% csrf_token %}
                <!-- <input placeholder="How many businesses?" type="number"> -->
                 {{ form.count }}
                
                <button class="button-9" id="get-businesses">Get Businesses</button>
            </form>

            <div class="domains">
                <button class="business">
                    Testing
                </button>
                <button class="business">
                    Testing
                </button>
                <button class="business">
                    Testing
                </button>
                <button class="business">
                    Testing
                </button>
                <button class="business">
                    Testing
                </button>
                <button class="business">
                    Testing
                </button>
                <button class="business">
                    Testing
                </button>
                <button class="business">
                    Testing
                </button>
                <button class="business">
                    Testing
                </button>
                <button class="business">
                    Testing
                </button>
                <button class="business">
                    Testing
                </button>
                <button class="business">
                    Testing
                </button>
                
            </div>
        </div>
    </div>
</body>
</html>

