<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="whole-campaign">
        <div class="camapign-card">
            <div class="campaign-header">
                <h2>Your Campaigns</h2>
            </div>
                    <!--
        
                <div class="campaigns">
                    <h1>Campaign List</h1>
                    <ul>
                        {% for campaign in campaigns %}
                            <li>
                                <a href="{% url 'campaign' campaign.pk %}">{{ campaign.name }}</a><br>
                                Use: {{ campaign.get_use_display }}<br>
                                Information About Yourself: {{ campaign.user_info }}<br>
                                Purpose: {{ campaign.purpose }}<br>
                                Target Audience: {{ campaign.target_audience }}<br>
                                Created At: {{ campaign.created_at }}<br>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                
                -->
            <div class="stack">
                {% for campaign in campaigns %}
                    <a class="business" href="{% url 'campaign' campaign.pk %}" style="text-decoration: none; color: black; text-align: center;">
                            {{ campaign.name }}
                    </a>
                {% endfor %}
            </div>
        </div>

        <div class="campaign-actions">
            <h1 class="raleway-test"> Create a Campaign</h1>

            <form method="POST" class="create-campaign-form">

                <div class="name-and-selection">
                    <div class="trivial">
                        <label for="campaign-name">Name of the Campaign:</label>
                        <input type="text" id="campaign-name" name="campaign-name" required> 
                    </div>

                    <div class="trivial">
                        <label for="campaign-use">Use of the Campaign:</label>
                        <select id="campaign-use" name="campaign-use" required>
                            <option value="personal">Personal</option>
                            <option value="business">Business</option>
                        </select>
                    </div>
                </div>

                <label for="user-info">Information About Yourself:</label>
                <textarea id="user-info" name="user-info" rows="4" required></textarea>

                <label for="campaign-purpose">Purpose of the Campaign:</label>
                <textarea id="campaign-purpose" name="campaign-purpose" rows="4" required></textarea>

                <label for="target-audience">Who Are You Trying to Target:</label>
                <textarea id="target-audience" name="target-audience" rows="4" required></textarea>

                <button type="submit" class="button-9">Create new campaign</button>

            </form>
        </div>
    </div>
</body>
</html>


