{% extends 'base.html' %}

{% block content %}
    <div class="whole-campaign">
        <div class="camapign-card">
            <div class="campaign-header">
                <h2 id="campaign-name">{{ campaign.name }}</h2>
            </div>

            <div class="stack" style="height: 75vh;">
                <div class="info">
                    <h3>Purpose</h3>
                    <p>
                        {{ campaign.get_use_display }}
                    </p>
                </div>
                <div class="info">
                    <h3 class="raleway-test">About Yourself</h3>
                    <p>
                        {{ campaign.user_info }}
                    </p>
                </div>
                <div class="info">
                    <h3 class="raleway-test">Target</h3>
                    <p>
                        {{ campaign.target_audience }}
                    </p>
                </div>
            </div>
        </div>
        <div class="campaign-actions">
            <h1 class="raleway-test"> Find Online Businesses</h1>

            <input placeholder="How many businesses?" type="number" id="numOfInputs">
                
            <button class="button-9" id="get-businesses">Get Businesses</button>

            <div class="domains">
                {% for domain in domains %}
                    <a href="{% url 'domain' domain.id campaign.id%}"  class="business" style="text-decoration: none; color: black; text-align: center;">
                            {{ domain.name }}
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <h1 id="app">{{ text }}</h1>
        </div>
    </div>
    <script>
        const button = document.getElementById('get-businesses');
        var numOfInputs;
        var campaignName = document.getElementById('campaign-name').textContent;

        const socket = new WebSocket('ws://localhost:8000/ws/ok/');

        // Add a click event listener to the button
        button.addEventListener('click', () => {
            numOfInputs = document.getElementById('numOfInputs').value;
            socket.send(JSON.stringify({ message: campaignName, numOfBusinesses: numOfInputs}));
        })

        const containers = document.querySelectorAll('.domains');

        socket.onmessage = function(event) {
            const data = JSON.parse(event.data);
            console.log('Message from server:', data.message);
            const items = data.message;

            // Loop through each container
            containers.forEach((container, index) => {
                const links = container.querySelectorAll('a');

                // Loop through the <a> elements and remove each one
                links.forEach(link => {
                    link.remove();
                });

                // Loop through the items array
                items.forEach(item => {
                    
                    // Create a new <p> element
                    const newElement = document.createElement('a');

                    // Set the text content of the <p> element
                    newElement.textContent = item;

                    newElement.classList.add('business');

                    newElement.style.color = 'black';
                    newElement.style.textAlign = 'center';

                    // Add the new <p> element to the container
                    container.appendChild(newElement);
                });
            });
        };
        
    </script>
{% endblock %}

